:root {
  color-scheme: light;
  --theme-text: hsl(0, 0%, 0%);
  --theme-bg: hsl(0 0% 100%);
  --theme-accent: hsl(0 81% 60%);
  --theme-accent-secondary: hsl(0 81% 40%);

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2.25rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --fs-body: var(--fs-400);
  --fs-subheading: var(--fs-700);
  --fs-heading: clamp(var(--fs-700), 5vw, var(--fs-900));

  @media (min-width: 40em) {
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --theme-text: hsl(0 0% 100%);
    --theme-bg: hsl(210, 30%, 8%);
    --theme-accent: hsl(0 81% 60%);
    --theme-accent-secondary: hsl(0 81% 40%);
  }
}
