<div class="card">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur,
    expedita?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsam iusto
    dicta asperiores maxime? Omnis, voluptate? Dolore laborum ad esse?
  </p>
</div>

<style>
  .card {
    display: grid;
    gap: 1rem;
    background-color: var(--theme-accent);
    border-radius: 1rem;
    padding: 1rem;
  }
</style>
