<footer id="footer">
  <div class="container">
    <div class="credit">
      <p>&copy; 2022 Joshua Cano. All rights reserved</p>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: 3rem;

    @media (min-width: 30em) {
      padding-block: 5rem;
    }
  }

  .credit {
    font-size: 0.875rem;
  }
</style>
