<footer id="footer">
  <div class="container">
    <div class="credit">
      <span>Designed and Hand Coded by</span>
      <a href="" target="_blank" rel="noopener">Joshua Cano</a>
      <span class="copyright"> &copy; 2021 - 2022</span>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    padding-block: 5rem;
  }
</style>
