---
const { href, class: className } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  aria-current={isActive ? 'page' : 'false'}
  class:list={[className, { active: isActive }]}
>
  <slot />
</a>

<style>
  a {
    display: inline-block;
    color: var(--clr-white);
    text-decoration: none;
  }

  [aria-current='page'] {
    font-weight: 700;
  }
</style>
