---
import MenuButton from './MenuButton.astro'
import HeaderLink from './HeaderLink.astro'
---

<header class="primary-header">
  <div class="container">
    <div class="nav_wrapper">
      <a class="logo" href="/">Logo</a>
      <nav>
        <ul
          aria-label="Primary"
          id="primary-navigation"
          class="primary-navigation"
          role="list"
        >
          <li><HeaderLink href="/">Home</HeaderLink></li>
          <li><HeaderLink href="/about">About</HeaderLink></li>
          <li><HeaderLink href="/contact">Contact</HeaderLink></li>
        </ul>
      </nav>
      <MenuButton />
    </div>
  </div>
</header>

<style lang="scss">
  .primary-header {
  }

  .logo {
    color: inherit;
    text-decoration: none;
  }

  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
    min-height: 4rem;

    &:has(button[aria-expanded='true']) nav {
      position: fixed;
      display: block;
      padding-inline: 1.5rem;
      inset: 0;
      background-color: var(--theme-bg);
    }
  }

  nav {
    display: none;
    margin-top: 4rem;

    @media (min-width: 30em) {
      display: flex;
      margin: 0;
    }
  }

  .primary-navigation {
    @media (min-width: 30em) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  li {
    padding-block: 1rem;
    border-top: 1px solid #696969;

    @media (min-width: 30em) {
      padding: 0;
      border: none;
    }
  }
</style>
