---
// export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, class: className } = Astro.props
const isActive = href === Astro.url.pathname
---

<a
  href={href}
  aria-current={isActive ? 'page' : 'false'}
  class:list={[className, { active: isActive }]}
>
  <slot />
</a>

<style>
  :root {
    --color-shades-dark: rgb(25, 25, 25);
    --color-shades-light: rgb(165, 167, 175);
    --color-highlight: rgb(24, 54, 145);
  }

  a {
    --text-color: var(--color-shades-dark);
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    display: inline-block;
    margin-block-end: 0.5rem; /* See note at the bottom of this chapter */
    margin-inline-end: 0.5rem;
    padding: 0.1rem;
    text-decoration: none;
  }

  /* Change the border-color on :hover and :focus */
  a:where(:hover, :focus) {
    --border-color: var(--text-color);
  }

  [aria-current='page'] {
    --border-color: var(--color-highlight);
    --text-color: var(--color-highlight);
  }
</style>
