---
import Button from './Button.astro'
---

<section class="hero">
  <div class="container">
    <h1 class="fs-heading">Heading for Website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, beatae?</p>
    <Button href="/" class="primary">Get Started</Button>
    <Button href="/" class="outline">Contact</Button>
  </div>
</section>

<style lang="scss">
  section {
    padding-block: 5rem;
  }
</style>
