<button
  type="button"
  aria-expanded="false"
  aria-label="Menu"
  aria-controls="primary-navigation"
  class="mobile-nav-toggle"
>
  <svg width="24" height="24" aria-hidden="true" fill="var(--clr-white)">
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
  </svg>
</button>

<style lang="scss">
  button {
    grid-area: button;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline-color: #5e9eff;
      outline-offset: 1px;
      outline-style: auto;
    }

    @media (min-width: 30em) {
      display: none;
    }
  }
</style>

<script>
  const navToggle = document.querySelector('.mobile-nav-toggle')

  navToggle?.addEventListener('click', () => {
    const expanded = navToggle.getAttribute('aria-expanded')
    const value = expanded === 'true' ? true : false

    navToggle.setAttribute('aria-expanded', (!value).toString())
  })
</script>
